<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<!--Header snippet for css and meta-->
<head>
    <div th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
              integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"
              integrity="sha384-bsGkvB1NLsaPUZL6GG0N5H9GOW9DK6KiHrrDvO57EJXoD9H3gzlohtuPENw9/24L"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap4.min.css"
              integrity="sha384-GT95DpievPCoEMQK7wFUKNSmBUItft1absIeFqP30FKpnjz8YPvV34CC79GirigE"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap4.min.css"
              integrity="sha384-n1hs6qRhjguK+Jtu+RyFfScT5qaZklM9JofOTMl4IhU02wc+vh/OpW4lP7n9cbxD"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.min.css}">

    </div>
</head>
<body>
<!--Navbar snippet-->
<nav class="navbar bg-light fixed-top navbar-expand-md mb-4" th:fragment="nav-bar">
    <a class="navbar-brand ml-3" href="/"><span class="oi oi-book"></span> Sonnet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/insert}">Input</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lookup}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/browse}">Browse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lookup/csv}">Manual Selection</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-3">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a th:href="@{/login}">
                    <button type="button" class="btn btn-primary btn-sm mx-1">Login</button>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin}">
                    <button type="button" class="btn btn-primary btn-sm mx-1">Admin</button>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('USER')">
                <a th:href="@{/profile}">
                    <button type="button" class="btn btn-primary btn-sm mx-1">Profile</button>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary btn-sm mx-1">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>