<!--suppress ALL -->
<div class="card-columns" th:fragment="cards">
    <span th:each="Sonnet : ${page}">
    <div class="card border-light">
        <h5 class="card-header" th:text="${Sonnet.getTitle()}">Title</h5>
        <div class="card-body">
        <h5 class="card-title"
            th:text="${Sonnet.getFirstName()} + ' ' + ${Sonnet.getLastName()}">Author</h5>
        <ul class="list-unstyled">
            <span th:each="line : ${Sonnet.getText()}">
                <li th:text="${line}">Text</li>
            </span>
        </ul>
        </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item" th:utext="'<strong>Year of publication: </strong>'
                + ${Sonnet.getPublicationYear()}">Year</li>
            <li class="list-group-item" th:utext="'<strong>Period of publication: </strong>'
                + ${Sonnet.getPeriod()}">Period</li>
            <li class="list-group-item" th:utext="'<strong>Source: </strong>' + ${Sonnet.getSourceDesc()}">
                Source</li>
            <li class="list-group-item" th:utext="'<strong>Rights: </strong>' + ${Sonnet.getPublicationStmt()}">
                Rights</li>
            <li class="list-group-item">
                <a th:href="@{~/sonnets/xml/by_id/} + ${Sonnet.getId()}" target="_blank" class="card-link">XML</a>
                <a th:href="@{~/sonnets/by_id/} + ${Sonnet.getId()}" target="_blank" class="card-link">JSON</a>
                <a th:href="@{~/sonnets/tei/by_id/} + ${Sonnet.getId()}" target="_blank" class="card-link">TEI</a>
                <a th:href="@{~/sonnets/txt/by_id/} + ${Sonnet.getId()}" target="_blank" class="card-link">Text</a>
                <a sec:authorize="hasAuthority('USER')" target="_blank" class="card-link"
                   th:href="@{~/edit/} + ${Sonnet.getId()}">Edit</a>
                <a sec:authorize="hasAuthority('ADMIN')" target="_blank"
                   th:href="@{~/admin/sonnets/all/delete/} + ${Sonnet.getId()}" class="card-link">Delete</a>
            </li>
        </ul>
    </div>
    </span>
</div>