<!--suppress ALL -->
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: nav-bar"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="display-4 pb-3">About the ACL Sonnet Project</h1>
            <hr class="m-4" style="border-color: black"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div id="success" th:if="${status} == 'success'" class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Message sent successfully.
            </div>
            <h3>Scope</h3>
            <p style="font-size: 14pt">
                This database aims to offer every sonnet in the English language, from the sixteenth century to the
                present, in interoperable formats. We began in May 2018 with the Norton anthology
                <a href="http://books.wwnorton.com/books/The-Making-of-a-Sonnet/">The Making of a Sonnet</a>; expanded
                in June 2018 to <a href="https://www.gutenberg.org/">Project Gutenberg</a> books; and have since begun
                to incorporate every sonnet in the <a href="http://www.textcreationpartnership.org/tcp-eebo/">EEBO-TCP
            </a> corpus of English books printed from 1475-1700 (Phases 1 and 2).
            </p>
            <hr class="mx-4" style="border-color: gray"/>
            <h3>Questions</h3>
            <p style="font-size: 14pt">
                Sonnets are reducible neither to formal definitions (14 lines of rhymed iambic pentameter) nor to
                generic definitions (first-person reflection or argument, often with a volta): the many exceptions to
                these ‘rules’ make sonnets both flexible and prodigious. But how would our understanding of sonnets
                change were we to move beyond major authors (Wyatt, Shakespeare, Milton) and anthologized selections to
                read every sonnet printed in English?
            </p>
            <p style="font-size: 14pt">
                For instance, is the sonnet a form, or a genre? What rhyme scheme do most sonnets use? Who is the most
                innovative sonneteer, and who the most typical? And what does the ground truth of all those sonnets do
                to our standard definitions of this form-genre hybrid?
            </p>
            <hr class="mx-4" style="border-color: gray"/>
            <h3>Methods</h3>
            <p style="font-size: 14pt">
                We are quantifying and comparing the linguistic features of sonnets using the
                <a href="https://www.nltk.org/">Natural Language Toolkit</a>. We have made a number of tools available
                via our Application Program Interface (API); you can
                <a href="https://git.joshharkema.com/sonnet-dev/sonnet-connector">read the documentation</a> here,
                including our gentle introduction to Python programming — for humanists who may never have written a
                line of code.
            </p>
            <hr class="mx-4" style="border-color: gray"/>
            <h3>Contact Us</h3>
            <p style="font-size: 14pt">
                For more information, please use this form. If you'd like to join our mailing list, check the box next
                to your return address; we will not contact you too frequently, and will never give away your address.
            </p>
            <form action="#" th:action="@{~/about/contact}" id="contactForm" th:object="${ContactDto}" role="form"
                  method="POST" class="m-3" th:classappend="${#fields.hasErrors('global')}? 'was-validated' : ''">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-person"></span></span>
                        </div>
                        <input id="name" class="form-control" placeholder="Your name" th:field="*{name}"
                               th:classappend="${#fields.hasErrors('name')}? 'is-invalid' : ''" required/>
                        <div class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}">
                            error
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-envelope-open"></span></span>
                        </div>
                        <input id="email" class="form-control" placeholder="Your email" th:field="*{email}"
                               th:classappend="${#fields.hasErrors('email')}? 'is-invalid' : ''" required/>
                        <div class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}">
                            error
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea id="message" class="form-control" placeholder="Your message" rows="14"
                              th:field="*{message}" th:classappend="${#fields.hasErrors('message')}? 'is-invalid' : ''"
                              required></textarea>
                    <div class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('message')}"
                         th:errors="*{message}">
                        error
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="mailingList" th:field="*{mailingList}">
                        <label class="custom-control-label" for="mailingList">Join the mailing list?</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>