<!--suppress ALL -->
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: nav-bar"></div>
<div class="container-fluid">
    <div class="row justify-content-center mb-3">
        <div class="col-lg-10">
            <h1 class="display-4 pb-3">User Management:</h1>
            <hr class="m-4" style="border-color: black"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{~/admin}">User Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/admin/sonnets/all}">Sonnet Records</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 mb-3">
            <table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Admin</th>
                    <th>Date Added</th>
                    <th>Reset Password</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="resetModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Password Reset</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form">
                    <div class="modal-body">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-person"></span></span>
                            </div>
                            <input id="password" class="form-control" autocomplete="off" placeholder="New Password"
                                   type="password" autofocus required/>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-person"></span></span>
                            </div>
                            <input id="password1" class="form-control" autocomplete="off" placeholder="Confirm Password"
                                   type="password" autofocus required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="resetUsername" type="hidden"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="resetButton" type="button" class="btn btn-primary" onclick="resetPassword()">
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="modifyModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modify User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form">
                    <div class="modal-body">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-envelope-open"></span></span>
                            </div>
                            <input id="email" class="form-control" autocomplete="off" required/>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-key"></span></span>
                            </div>
                            <select id="isAdmin" class="custom-select custom-select-md"
                                    title="Grand administrator privilege?">
                                <option id="yes" value="true">Administrator</option>
                                <option id="no" value="false">User</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="modifyUsername" type="hidden"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="modifyButton" type="button" class="btn btn-primary" onclick="modifyUser()">
                            Modify
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" style="color: white">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <form class="form">
                        <input id="deleteUsername" type="hidden"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="deleteButton" type="button" class="btn btn-danger" onclick="deleteUser()">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="successModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" style="color: white;">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>User modified successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="failModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" style="color: white;">Failed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Something went wrong, please try again. If this issue persists please email
                        <a href="mailto:joshua.harkema@ucalgary.ca">joshua.harkema@ucalgary.ca</a> for assistance</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: scripts"></div>
<script src="/js/moment.min.js"></script>
<script src="/js/admin_user.min.js"></script>
<div th:replace="fragments/footer :: footer"></div>
