<!--suppress ALL -->
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: nav-bar"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="display-4 pb-3">Edit a sonnet:</h1>
            <hr class="m-4" style="border-color: black"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <form action="#" th:action="@{~/edit/} + ${id}" id="insertForm" th:object="${SonnetDto}" role="form"
                  method="POST" class="mx-3" th:classappend="${#fields.hasErrors('global')}? 'was-validated' : ''">
                <div th:if="${status} == 'success'" class="alert alert-success">
                    Sonnet edited successfully.
                </div>
                <div th:replace="fragments/sonnet_edit :: sonnet_edit"></div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<div th:replace="fragments/sonnet_edit:: insert_script"></div>
<div th:replace="fragments/footer :: footer"></div>
