<!--suppress ALL -->
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: nav-bar"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="jumbotron">
                <h1 class="display-4">Moment's Monuments - Sonnet Database</h1>
                <p class="lead">
                    A database that will offer every sonnet in the English language, from the sixteenth century to the
                    present, in interoperable formats. The database is open to public use. However, due to stringent
                    data integrity requirements, only authorized users may contribute to the database.
                </p>
                <p class="lead">
                    The ACL sonnet database provides a RESTful API interface to facilitate programmatic database queries
                    for academic work in linguistics, sociology, English, and other fields in the digital humanities.
                    For more information, or to request researcher / contributor access, please email Michael Ullyot at
                    <a href="mailto:ullyot@ucalgary.ca">ullyot@ucalgary.ca</a> with a brief description of what you
                    intend to use the database for and why your need non-public access.
                </p>
                <hr class="my-4">
                <p>
                    <a class="btn btn-primary btl-lg" th:href="@{~/browse}" role="button">
                        Browse the Database
                    </a>
                    <a class="btn btn-primary btl-lg" th:href="@{~/lookup}" role="button">
                        Search the Database
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-lg-9">
            <div class="card-deck justify-content-center">
                <div class="card">
                    <h5 class="card-header">Text Encoding Initiative</h5>
                    <div class="card-body">
                        <p class="card-text">
                            The Text Encoding Initiative (TEI) is a consortium which collectively develops and
                            maintains a standard for the representation of texts in digital form. Its chief
                            deliverable is a set of Guidelines which specify encoding methods for machine-readable
                            texts, chiefly in the humanities, social sciences and linguistics.
                        </p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://www.tei-c.org/index.xml" class="btn btn-primary card-link">
                                TEI Website
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <h5 class="card-header">Python Database Connector</h5>
                    <div class="card-body">
                        <p class="card-text">
                            We provide and maintain a Python class for easilly connecting to our database via the
                            RESTful API. This class provides basic query functions and JSON object serialization.
                            This allows a user to skip most of the data parsing and jump straight into NLTK or NLP
                            analysis of the data.
                        </p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://git.joshharkema.com/sonnet-dev/sonnet-connector"
                               class="btn btn-primary card-link">
                                GitLab Repository
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <h5 class="card-header">Augmented Criticism Lab</h5>
                    <div class="card-body">
                        <p class="card-text">
                            The Augmented Criticism Lab is a digital initiative that investigates the relationship
                            between computational literary studies and traditional philology. Building on theories
                            of corpus linguistics, algorithmic criticism, and scalable reading, we strive for an
                            augmented criticism—a brand of literary investigation that boasts a distinct blend of
                            computational processes and artful introspection.
                        </p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://acriticismlab.org/" class="btn btn-primary card-link">
                                ACL Website
                            </a>
                            <a href="http://ullyot.ucalgaryblogs.ca/" class="btn btn-primary card-link">
                                Michael Ullyot
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
