<!--suppress ALL -->
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: nav-bar"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="display-4 pb-3">Add new sonnet:</h1>
            <hr class="m-4" style="border-color: black"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <form action="#" th:action="@{~/insert}" id="insertForm" th:object="${SonnetDto}" role="form"
                  method="POST" class="mx-3" th:classappend="${#fields.hasErrors('global')}? 'was-validated' : ''">
                <div th:if="${param.exists}" class="alert alert-error">
                    A sonnet with that title / first line by that author already exists.
                </div>
                <div th:if="${param.success}" class="alert alert-success">
                    Sonnet added successfully, to clear this form click clear, to copy another sonnet by the same
                    author simply swap out the data below for the next sonnet's details and click submit.
                </div>
                <div th:replace="fragments/sonnet_edit :: sonnet_edit"></div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<div th:replace="fragments/sonnet_edit:: insert_script"></div>
<div th:replace="fragments/footer :: footer"></div>
