<!DOCTYPE html>
<!--suppress ALL -->
ttp://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Sonnet - Add Sonnet</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<main>
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="display-4 pb-3">Add new sonnet:</h1>
                <hr class="m-4" style="border-color: black"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form action="" id="insertForm" th:object="${SonnetDto}" role="form" method="POST" class="form mx-3">
                    <div th:if="${param.error}" class="alert alert-error">
                        An error occurred.
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="control-label">Author's first name:</label>
                        <input id="firstName" class="form-control" th:field="*{firstName}" autofocus required/>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label">Author's last name:</label>
                        <input id="lastName" class="form-control" th:field="*{lastName}" required/>
                    </div>
                    <div class="form-group">
                        <label for="title" class="control-label">Sonnet's title:</label>
                        <input id="title" class="form-control" th:field="*{title}"/>
                    </div>
                    <div class="form-group">
                        <label for="publicationYear" class="control-label">Sonnet's year of publication:</label>
                        <input id="publicationYear" class="form-control" th:field="*{publicationYear}"/>
                    </div>
                    <div class="form-group">
                        <label for="line1" class="control-label">Line one:</label>
                        <input id="line1" class="form-control" th:field="*{line1}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line2" class="control-label">Line two:</label>
                        <input id="line2" class="form-control" th:field="*{line2}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line3" class="control-label">Line three:</label>
                        <input id="line3" class="form-control" th:field="*{line3}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line4" class="control-label">Line four:</label>
                        <input id="line4" class="form-control" th:field="*{line4}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line5" class="control-label">Line five:</label>
                        <input id="line5" class="form-control" th:field="*{line5}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line6" class="control-label">Line six:</label>
                        <input id="line6" class="form-control" th:field="*{line6}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line7" class="control-label">Line seven:</label>
                        <input id="line7" class="form-control" th:field="*{line7}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line8" class="control-label">Line eight:</label>
                        <input id="line8" class="form-control" th:field="*{line8}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line9" class="control-label">Line nine:</label>
                        <input id="line9" class="form-control" th:field="*{line9}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line10" class="control-label">Line ten:</label>
                        <input id="line10" class="form-control" th:field="*{line10}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line11" class="control-label">Line eleven:</label>
                        <input id="line11" class="form-control" th:field="*{line11}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line12" class="control-label">Line twelve:</label>
                        <input id="line12" class="form-control" th:field="*{line12}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line13" class="control-label">Line thirteen:</label>
                        <input id="line13" class="form-control" th:field="*{line13}" required/>
                    </div>
                    <div class="form-group">
                        <label for="line14" class="control-label">Line fourteen:</label>
                        <input id="line14" class="form-control" th:field="*{line14}" required/>
                    </div>
                    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
                        submit
                    </button>
                    <!--Modal popup -->
                    <div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure? Please make sure the data is accurate.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" onclick="hideModal()">
                                        Save changes
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/footer :: scripts"></div>
    <script>
        function hideModal() {
            $('#confirmModal').modal('hide');
        }
    </script>
</main>
</html>