<!--suppress ALL -->
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: nav-bar"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="display-4 pb-3">Login:</h1>
            <hr class="m-4" style="border-color: black"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <p class="lead">
                You must login to edit or add a sonnet to the database. Database access is public, but to protect
                the integrity of the corpus only verified users can contribute. Please email Dr. Michael Ullyot
                <a href="mailto:ullyot@ucalgary.ca">ullyot@ucalgary.ca</a> for more information or to request
                access.
            </p>
            <form th:class="form" name="f" class="form" th:action="@{~/login}" method="POST">
                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username and/or password. Please try again. Self-serve password reset is not available.
                    Please email <a href="mailto:joshua.harkema@ucalgary.ca">joshua.harkema@ucalgary.ca</a> to
                    request a password change.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out successfully.
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-person"></span></span>
                        </div>
                        <input id="username" name="username" class="form-control" autocomplete="off"
                               placeholder="Username" autofocus required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-lock-locked"></span></span>
                        </div>
                        <input id="password" name="password" type="password" class="form-control" autocomplete="off"
                               placeholder="Password" required/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<div th:replace="fragments/footer :: footer"></div>
