<!--suppress ALL -->
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: nav-bar"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <h1 class="display-4 pb-3">Search:</h1>
            <hr class="m-4" style="border-color: black"/>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-2 justify-content-center mb-2">
            <div class="form">
                <form action="" th:object="${Sonnet}" role="form" method="GET" class="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-person"></span></span>
                            </div>
                            <input id="firstName" class="form-control" th:field="*{firstName}"
                                   placeholder="Author's first name" autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-person"></span></span>
                            </div>
                            <input id="lastName" class="form-control" th:field="*{lastName}"
                                   placeholder="Author's last name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-pencil"></span></span>
                            </div>
                            <input id="title" class="form-control" th:field="*{title}" placeholder="Sonnet's title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-calendar"></span></span>
                            </div>
                            <select id="period" class="custom-select custom-select-md"
                                    title="Period of First Publication"
                                    th:field="*{period}">
                                <option th:each="period : ${periods}" th:value="${period}" th:text="${period}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-calendar"></span></span>
                            </div>
                            <input id="publicationYear" type="number" class="form-control" placeholder="1660"
                                   th:field="*{publicationYear}" title="Year of first publication."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-pencil"></span></span>
                            </div>
                            <input id="contains" class="form-control" th:field="*{text}" placeholder="Sonnet text"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                    <p class="text-muted">
                        Notes: you can only search one field at a time right now.
                    </p>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div th:if="${not #lists.isEmpty(page)}">
                <span th:replace="fragments/sonnet_cards :: cards">
                </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <hr class="m-4" style="border-color: black"/>
        </div>
        <div th:if="${page.totalPages != 1}" class="col-lg-10 pagination-centered">
            <ul class="pagination justify-content-center">
                <li th:class="${page.number == 0}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{~/lookup/(size=${selectedPageSize}, sort=${selectedSortBy}, page=0)}">
                        &laquo;
                    </a>
                </li>
                <li th:class="${page.number == 0}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{~/lookup/(size=${selectedPageSize}, sort=${selectedSortBy}, page=${page.number - 1})}">
                        Previous
                    </a>
                </li>
                <li th:class="${page.number == (number)} ? 'page-item active' : 'page-item'"
                    th:each="number : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link"
                       th:href="@{~/lookup/(size=${selectedPageSize}, sort=${selectedSortBy}, page=${number})}"
                       th:text="${number}">
                        Page
                    </a>
                </li>
                <li th:class="${page.number + 1 == page.totalPages}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{~/lookup/(pageSize=${selectedPageSize}, sort=${selectedSortBy}, page=${page.number + 1})}">
                        Next
                    </a>
                </li>
                <li th:class="${page.number + 1 == page.totalPages}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{~/lookup/(pageSize=${selectedPageSize}, sort=${selectedSortBy}, page=${page.totalPages - 1})}">
                        &raquo;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<div th:replace="fragments/footer :: footer"></div>
