<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Sonnet - Lookup</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<main>
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="display-4 pb-3">Search:</h1>
                <hr class="m-4" style="border-color: black"/>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-2">
                <form action="/lookup" th:object="${Sonnet}" role="form" method="GET" class="form">
                    <div class="form-group">
                        <label for="firstName" class="control-label">Author's first name:</label>
                        <input id="firstName" class="form-control" th:field="*{firstName}" autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label">Author's last name:</label>
                        <input id="lastName" class="form-control" th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="title" class="control-label">Sonnet title:</label>
                        <input id="title" class="form-control" th:field="*{title}"/>
                    </div>
                    <div class="form-group">
                        <label for="publicationYear" class="control-label">Year of publication:</label>
                        <input id="publicationYear" type="number" class="form-control" th:field="*{publicationYear}"/>
                    </div>
                    <div class="form-group">
                        <label for="contains" class="control-label">Sonnet contains:</label>
                        <input id="contains" class="form-control" th:field="*{text}"/>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>
            <div class="col-lg-8">
                <div th:if="${not #lists.isEmpty(page)}">
                    <div class="card-group justify-content-center">
                        <span th:each="Sonnet : ${page}">
                            <div class="card border-light m-2" style="width: 26rem;">
                                <h5 class="card-header" th:text="${Sonnet.getTitle()}">Title</h5>
                                <div class="card-body">
                                <h5 class="card-title"
                                    th:text="${Sonnet.getFirstName()} + ' ' + ${Sonnet.getLastName()}">Author</h5>
                                <ul class="list-unstyled">
                                    <span th:each="line : ${Sonnet.getText()}">
                                        <li th:text="${line}">Text</li>
                                    </span>
                                </ul>
                                </div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item"
                                    th:utext="'<strong>Year of publication: </strong>'
                                    + ${Sonnet.getPublicationYear()}">Year</li>
                                <li class="list-group-item"
                                    th:utext="'<strong>Source: </strong>' + ${Sonnet.getSourceDesc()}">Source</li>
                                <li class="list-group-item"
                                    th:utext="'<strong>Rights: </strong>' + ${Sonnet.getPublicationStmt()}">Rights</li>
                                <li class="list-group-item">
                                    <a th:href="@{/lookup/xml/} + ${Sonnet.getId()}" target="_blank"
                                       class="card-link">XML</a>
                                    <a th:href="@{/sonnets/by_id/} + ${Sonnet.getId()}" target="_blank"
                                       class="card-link">JSON</a>
                                    <a th:href="@{/lookup/tei/} + ${Sonnet.getId()}" target="_blank"
                                       class="card-link">TEI</a>
                                    <a th:href="@{/lookup/edit/} + ${Sonnet.getId()}" class="card-link">Edit</a>
                                </li>
                            </ul>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <hr class="m-4" style="border-color: black"/>
            </div>
            <div th:if="${page.totalPages != 1}" class="col-lg-10 pagination-centered">
                <ul class="pagination justify-content-center">
                    <li th:class="${page.number == 0} ? disabled">
                        <a class="page-link" th:href="@{/lookup/(page=0)}">&laquo;</a>
                    </li>
                    <li th:class="${page.number == 0} ? disabled">
                        <a class="page-link" th:href="@{/lookup/(page=${page.number - 1})}">
                            Previous
                        </a>
                    </li>
                    <li th:class="${page.number == (number - 1)} ? 'active pointer-disabled'"
                        th:each="number : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="page-link" th:href="@{/lookup/(page=${number})}" th:text="${number}">
                            Page
                        </a>
                    </li>
                    <li th:class="${page.number + 1 == page.totalPages} ? disabled">
                        <a class="page-link" th:href="@{/lookup/(page=${page.number + 1})}">
                            Next
                        </a>
                    </li>
                    <li th:class="${page.number + 1 == page.totalPages} ? disabled">
                        <a class="page-link" th:href="@{/lookup/(page=${page.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/footer :: scripts"></div>
</main>
</html>